.components__search{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12rpx 18rpx;
  background-color: #FFF;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border: 0 solid #d6e4ef;
    transform: scale(0.5);
    border-bottom-width: 1PX;
  }
  ::-webkit-scrollbar{
    width: 0;
    height: 0;
    color: transparent;
  }
  &.is-focus{
    .search__bar{
      flex-grow: 0;
    }

    .search__input-label{
      visibility: hidden;
    }
    .search__input-btn{
      opacity: 1;
      margin-right: 0 ;
    }

  }

  .search__input-box{
    position: relative;
    flex: 1;
    width: 100%;
    height: 30PX;
    background-color: #F7F7F7;
    border-radius: 15PX;
    overflow: hidden;
    display: flex;

  }
  .search__bar{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 0 12PX;
    height: 30PX;
    line-height: 0;
    vertical-align: middle;
    opacity: 1;
    transition: -webkit-box-flex 0.3s, -webkit-flex 0.3s;
    transition: flex 0.3s;
    transition: flex 0.3s, -webkit-box-flex 0.3s, -webkit-flex 0.3s, -ms-flex 0.3s;
    flex-grow: 1;
  }
  .search__input-icon{
    background: url("http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png") center no-repeat;
    background-size: 100%;
    width: 28rpx;
    height: 28rpx;
    margin-right: 10rpx;
    color: #999;
    flex-shrink: 0;
  }
  .search__input-label{
    margin-left: 12PX;
    color: #999;
    font-size: 14PX;
    flex-shrink: 0;
  }
  .search__input-input{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 30PX !important;
    padding: 0 37PX;
    color: #000;
    font-size: 14PX !important;
    text-align: left;
    background-color: transparent;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .search__input-btn{
    flex: none;
    display: block;
    margin-left: 10PX;
    padding: 0 10PX;
    height: 30PX;
    color: #FFF;
    font-size: 14PX;
    line-height: 30PX;
    border-radius: 4PX;
    transition: margin-right 0.3s, opacity 0.3s;
    opacity: 0;
    background-color: #d43c33;
    margin-right: -73PX;
  }

}